# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.vscode
.env
.png
.ico

# testing
/coverage

# ignore img and test folder
/api
/src/img/
/public/img/
/src/sandbox/6x9jpg
/src/sandbox/orig-img
/img/


# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# other files
jsxModalText.html
cpcnz.json
ico.zip
README.md.bak
build.zip
